 /**
   Coded by /u/j0be in scss.
   See scss source here -> http://codepen.io/j0be/pen/MKRVyN
*/

body {
    background-color: #ebeef3;
}
.carousel img{ border-radius: 25px; }
.carousel-control { background-image:none !important; }


 .custom-pic {
    border-radius: 25px;
    border: 2px solid #73AD21;

}
.custom-counter {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.custom-counter li {
    counter-increment: step-counter;
    margin-bottom: 5px;
}

.custom-counter li::before{
    content: counter(step-counter);
    margin-right: 20px;
    font-size: 80%;
    background-color: rgb(180, 180, 180);
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 11px;
}

.main_content {
    padding: 0 0 50px 0;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    background: white;
    font-weight: bold;
}

.navbar {
    margin-bottom: 50px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    border: none;
}

.navbar .navbar-brand {
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 25px;
}

.navbar .navbar-brand a {
    color: #007f00;
}

.recipe {
    background: white;
    border-radius: 5px;
    margin-bottom: 40px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

.recipe .image_wrapper {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.recipe img {
    width: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.recipe img:hover {
    transform: scale(1.075);
}

.recipe h2 {
    padding: 15px 5%;
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
}

.recipe h2 a {
    color: #007f00;
}

#recipe_top {
    margin-bottom: 50px;
}

#recipe_info,
#ingredients,
#directions {
    background: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    min-height: 360px;
    border-radius: 5px;
    padding: 2em 8%;
}

.recipe_image {
    max-width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

#recipe_info h1 {
    font-size: 36px;
    font-weight: normal;
    color: #007f00;
}

#recipe_info .description {
    color: #8A8A8A;
    font-size: 20px;
}

.ingredients-listing{
    list-style-type: circle;
}

#ingredients,
#directions {
    margin-bottom: 50px;
}

#ingredients ul,
#ingredients ol,
#directions ul,
#directions ol {
    padding-left: 18px;
}

#ingredients ul li,
#ingredients ol li,
#directions ul li,
#directions ol li {
    padding: 1em 0;
    border-bottom: 1px solid #EAEAEA;
}

.form-inline {
    margin-top: 15px;
}

.form-input {
    width: 65% !important;
    float: left;
}

.form-button {
    float: left;
    width: 30% !important;
    margin-left: 5%;
}

.add-button {
    margin-top: 25px;
}


